{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
	<div class="row">
		{% block user %}


		{% endblock %}
    <div class="col-md-9">

      <!-- display tweets here -->
      <div id="tweets">
      {% for tweet in tweets %}
        <div class="tweetbox">
					<img src="{{tweet.User.pictureUrl}}">
          <div class="content">
            <p class="by"><a href="/users/{{tweet.User.name}}">{{tweet.User.name}}</a></p>
            <p><a href="/tweets/{{tweet.id}}">{{tweet.content}}</a></p>
          </div>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}
